body{
    padding: 0%;
    margin: 0%;
    background-color: rgb(255, 255, 255);
}
 .head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
width: 100%;
background-image: url("./Images/seahome.jpg");
background-position: center;
background-attachment: local;
background-size: cover;
background-repeat: no-repeat;
} 
.input_bar{
    display: grid;
    grid-template-columns: 70vmin auto;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    max-width: 60vmin;
    min-width: fit-content;
    height: 3rem;
    border-radius: 5px;

}
button{
    border: none;
    margin: 0;
}
.input_bar input{
    max-width: 90%;
    min-width: fit-content;
    font-size: 4vmin;
    border: none;
    outline: none;
    margin-left: 5px;
}
.search_icon{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(86, 158, 252);
    font-size: 3vmin;
    padding:0  1.5rem;
    height: 3rem;
    max-width: 50vmin;
    min-width: fit-content;
    color: white;
}
.img_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.noSearch{
    width: 40vh;
}
/* .head{
    position: relative;
    display: flex;
    min-width: fit-content;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(189, 186, 186);
}
.ul_head{
    display: flex;
    align-items: center;
}
.ul_head li{
    display: inline-block;
    
}
.search_input{
    width: 20rem;
    border: none;
    outline: none;
}
#search_btn{
    color: rgb(36, 163, 227);
}
#setting{
    padding:0 5px;
}
.input_bar{
    display: flex;
    justify-content: space-between;
    font-size: larger;
    border-radius: 50px;
    align-items: center;
    width: 25rem;
    padding: 10px 10px;
    background-color: #fff;
    box-shadow: 1px 2px 5px rgb(162, 159, 159);
}
.google_logo{
    margin-right :2rem;
}
.setting_grid-profile{
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
    padding-right :5rem;
}
i {
    margin: 0px 15px;
    font-size: 20px;
    font-weight: lighter;
    color: #3d3a3a;
}
.profile{
    margin: 0px 5px;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    font-size: 30px;
    border:1px solid black ;
}
.rsult_container{
    width: 70%; 
    padding: 10px;
    font-family: sans-serif;   
}
.tittle_container{
    margin: 0;
    line-height: 2px;
}
.tittle_container a{
    text-decoration: none;
}
.tittle_container p{
    margin-left: 1%;
    font-weight: lighter;
    font-size: 1.5vw;
    color: #9b9e9c;
    font-style: italic;
    line-height: 2px;
}
h1{
    font-size: 2vw;
    padding: 0;
}
span{
    font-weight: lighter;
    font-size: 2vw;
    color: rgb(31, 81, 130);
    padding:10px 10px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
aside{
    padding: 0%;
    font-size: 1vw;
    font-weight: bold;
    color: rgb(151, 147, 147);
    padding:3px 20px 0px;
}
.all_result{
    padding: 5px;
    border: 1px solid rgb(191, 189, 189);
} */
/* @media screen and (max-width:00px) {
    .search_input{
        width: 10rem;
    }
    #search_btn{
        margin: 0px;
    }
    .input_bar{
        display: flex;
        justify-content: space-evenly;
        font-size: larger;
        border-radius: 50px;
        align-items: center;
        width: 18rem;
        padding: 5px 5px;

    }
    .google_logo{
        margin-right :1rem;
    }
    .setting_grid-profile{
        display: flex;
        width: 100px;
        justify-content: space-between;
        align-items: center;
        padding-right :5rem;
    }
    i {
        margin: 0px 5px;
        font-size: 20px;
        font-weight: lighter;
        color: #3d3a3a;
    }
    .profile{
        margin: 0px 2px;
        border:1px solid black ;
    }   

}
/* 




 */ 